/*一般样式表*/
html {
    height: 100%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.23),
            rgba(0, 0, 0, 0.148)),
        url("assents/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: center;
    background-size: cover;
    padding: 10px;
    
}

/*top*/
div.top {
    display: flex;
}

div.top img {
    height: auto;
    width: auto;
    border-radius: 50%;
    border: 3px solid rgb(233, 157, 207);
    box-shadow: 3px 2px 5px 1px rgba(97, 97, 97, 0.439);
}

/*头部*/
div.top {
    height: 55px;
    margin-bottom: 5px;
}

div.top div.button {
    padding: 20px;
}

div.logo {
    text-shadow: 3px 2px 5px 1px rgba(57, 57, 57, 0.678);
    color: #ffffff;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    float: right;
}

div.buttorn {
    padding: auto;
    padding-top: 10px;
    padding-right: 5px;
    margin-left: auto;
    float: right;
    line-height: 100%;
}

#check {
    display: none;
}

i.down {
    height: 100%;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

@media (max-width: 930px) {

    #check:checked~div.head,
    #check:checked~div.head ul {
        height: auto;
    }

    #check:checked~div.head {
        padding-top: 10px;
    }

    div.top {
        position: sticky;
        padding: 5px;
        background-color: rgba(208, 19, 136, 0.851);
        backdrop-filter: blur(5px);
        margin-bottom: 0px;
        height: 45px;
    }

    div.top div.logo {
        color: rgb(255, 255, 255);
        font-size: 22px;
    }

    div.head {
        box-shadow: 3px 3px 8px 2px rgba(59, 55, 55, 0.489);
        transition: all 0.5s;
        height: 0;
        overflow: hidden;
        padding-top: 0px;
        margin-bottom: 10px;
        backdrop-filter: blur(5px);
        background-color: rgba(208, 19, 136, 0.851);
        padding-bottom: 10px;
    }

    ul.head {
        transition: all 0.5s;
        height: 0;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        overflow: hidden;
    }

    ul.head li div.dropdown a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    ul.head li a {
        transition: all 0.2s;
        display: block;
        backdrop-filter: blur(5px);
        background-color: rgba(180, 49, 127, 0.729);
        padding: 10px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    ul.head li a:hover {
        background-color: rgba(202, 119, 170, 0.576);
        backdrop-filter: blur(5px);
    }

    ul.head li div.dropdown-content a:hover {
        background-color: rgba(250, 143, 209, 0.576);
        backdrop-filter: blur(5px);
    }

    ul.head li div.dropdown-content a {
        background-color: rgba(233, 24, 153, 0.576);
        backdrop-filter: blur(5px);
    }

    div.top i.down {
        font-size: 28px;
    }
}

@media (min-width: 930px) {

    div.total-body {
        margin: auto;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: left;
    }

    div.top div.buttorn {
        display: none;
    }

    div.head {
        z-index: 2;
        box-shadow: 3px 3px 8px 2px rgba(59, 55, 55, 0.489);
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        margin-bottom: 10px;
    }

    ul.head {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(208, 19, 136, 0.851);
        z-index: -1;
    }

    ul.head li a {
        transition: all 0.3s;
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul.head li {
        float: left;
    }

    ul.head li a:hover {
        background-color: rgb(217, 102, 179);
    }

    ul.head li a.active {
        background-color: rgba(240, 130, 194, 0.31);
    }

    /*下拉菜单*/
    ul.head div.dropdown {
        display: inline-block;
        position: unset;
    }

    div.dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    div.dropdown-content a.menu {
        color: rgb(0, 0, 0);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    div.dropdown-content a.menu :hover {
        background-color: rgb(0, 0, 0);
    }

    div.dropdown:hover .dropdown-content {
        display: block;
    }

    ul.head li.right-li {
        float: right;
    }
}

/*側邊欄*/
#sidebar-btn {
    display: none;
}

@media (max-width: 708px) {
    #sidebar-btn:checked~div.sidebar {
        left: 5px;
    }

    #sidebar-btn:checked~div.sidebar~#sidebar-buttorn {
        left: 259px;
    }

    div.sidebar {
        transition: all 0.5s;
        top: 20px;
        overflow: scroll;
        height: 100%;
        backdrop-filter: blur(5px);
        position: fixed;
        z-index: 3;
        left: -300px;
    }

    div#sidebar-buttorn {
        transition: all 0.5s;
        box-shadow: 3px 3px 8px 2px rgba(59, 55, 55, 0.489);
        color: #ffffff;
        backdrop-filter: blur(5px);
        border-radius: 5px;
        padding: 10px;
        display: block;
        background-color: rgba(233, 24, 153, 0.624);
        top: 110px;
        position: fixed;
        z-index: 2;
    }
}

@media (min-width: 708px) {
    div#sidebar-buttorn {
        display: none;
    }
}

div.sidebar {
    transition: all 0.5s;
    box-shadow: 3px 3px 8px 2px rgba(59, 55, 55, 0.489);
    border-radius: 20px;
    margin-right: 10px;
    background-color: rgba(233, 24, 153, 0.624);
    /*position: relative;*/
    min-width: 250px;
}

div.total-body {
    height: auto;
    display: flex;
    justify-content: left;
}

img{
    height: auto;
    width: auto;
}