div.sidebar div.menu div.tittle {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 5px;
}

div.sidebar div.menu {
    font-weight: bold;
    padding: 10px;
}

div.sidebar div.menu>ul:nth-child(2) {
    list-style: none;
}

div.sidebar div.menu>ul:nth-child(2) ul {
    padding-left: 20px;
}

div.sidebar div.menu ul {
    padding-left: 30px;
    list-style: none;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
}

div.sidebar div.menu ul a {
    transition: all 0.3s;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

div.sidebar div.menu ul a:hover {
    background-color: rgba(0, 0, 0, 0.282);
}