footer {
    position: relative;
    border-radius: 15px 15px 0 0;
    margin-bottom: 0;
    height: 80px;
    display: flex;
}

.copyright {
    width: 100%;
    align-items: center;
    text-align: center;
    text-shadow: var(--text-shadow);
}

.footer-rss {
    position: absolute;
    right: 20px;
    bottom: 28px;

    a {
        color: var(--text);
        font-size: 22px;
        opacity: 0.7;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 1;
        }
    }
}