<footer class="card">
    <div class="copyright">
        <p>Copyright © <%= date(new Date(), 'YYYY' ) %>
                <%= config.author %>
        </p>
        <p>Powered by Hexo</p>
    </div>
</footer>